name: Security Scan with Trivy (nextflow)

on:
  pull_request:
    branches:
      - main
    paths: 
      - 'nextflow/**'

permissions:
  contents: read
  security-events: read

jobs:
  scan-docker-image-nextflow:
    name: Scan Nextflow Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build Docker Image
        run: docker build -t ferlabcrsj/nextflow:${{ github.sha }} -f nextflow/Dockerfile nextflow
      - name: Run Trivy Image scan (Docker)
        uses: aquasecurity/trivy-action@0.30.0
        with:
          scan-type: 'image'
          image-ref: 'ferlabcrsj/nextflow:${{ github.sha }}'
          format: 'table'
          severity: 'HIGH,CRITICAL'
          exit-code: '1'
          trivyignores: 'nextflow/.trivyignore_image'

  scan-docker-file-nextflow:
    name: Scan Nextflow Dockerfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run Trivy Dockerfile scan
        uses: aquasecurity/trivy-action@0.30.0
        with:
          scan-type: 'conf'
          scan-ref: 'nextflow'
          severity: 'HIGH,CRITICAL'
          exit-code: '1'
          trivyignores: 'nextflow/.trivyignore_config'